# Database
DATABASE_URL="postgresql://egypthub:egypthub@localhost:5432/egypthub?schema=public"

# JWT RS256
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCyjEtCRSX56mVi\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsoxLQkUl+epmYg==\n-----END PUBLIC KEY-----"
JWT_ISSUER="egypthub"
JWT_AUDIENCE="egypthub-api"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# App
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
